<p-dialog header="{{post.title}}" (onHide)="hid()" dismissableMask="true" modal ="true" [(visible)]="showing" resizable="true" dismissableMask="true"> 
  <ckeditor [ngModel]="post?.content" name="content" value="valor"
    [config]="{uiColor: '#99000',readOnly:true,toolbar:[
    [  ]
]}">
  </ckeditor>
</p-dialog>
