<ol class="breadcrumb top-5">
     <li *ngFor="let item of data" class="breadcrumb-item" [class.active]="item.active"  >
    <span *ngIf="!item.active; else elseBlock">
      <a routerLink="{{item.route}}">{{item.name}}</a>
    </span>
    <ng-template #elseBlock>{{item.name}}</ng-template>
    </li>
</ol>
