<div class="container" id="main-container">
  <nav class="fixed-top navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <a class="navbar-brand icon-logo" routerLink="/home" routerLinkActive="active">Law-Admin</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 15px">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">The Firm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/practice" routerLinkActive="active">Practice Areas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/blog" routerLinkActive="active">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
  </nav>
  <div class="container" id="center-container">
    <router-outlet></router-outlet>
  </div>
</div>
