<app-bread-crumb [data]="breadCrumbMenu"></app-bread-crumb>
<h2>New Post</h2>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <label>Post Title</label>
      <input type="text" pInputText [ngModel]="post?.title" name="title" required style="width: 470px" />
    </div>
    <div class="ui-toolbar-group-right">
      <button type="submit" class="btn btn-danger" [disabled]="!f.valid">
         <i class="fa fa-file-text" aria-hidden="true"></i>Publish
         </button>
      <button type="button" class="btn btn-secondary" (click)="onPreview(f)" pTooltip="Preview" tooltipPosition="top">
          <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()" pTooltip="Cancel" tooltipPosition="top">
          <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
    </div>
  </p-toolbar>
  <ckeditor [ngModel]="post?.content" name="content" value="valor" required
    [config]="{uiColor: '#99000'}">
  </ckeditor>

</form>

<app-preview-post *ngIf="postToPreview !=null" [post]="postToPreview" (onHide)= "postToPreview = null" [showing]="postToPreview !=null"></app-preview-post>