<h2 > Publications</h2>
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton icon="fa-file-text-o" label="New Post" type="button" class="ui-button-danger" (click)="onNewPost()"></button>
  </div>
  <div class="ui-toolbar-group-right">
    <button type="button" pButton icon="fa-trash-o" (click)="showDeletePosts()" pTooltip="Delete" tooltipPosition="top"></button>
    <button type="button" pButton icon="fa-refresh" pTooltip="Refresh" tooltipPosition="top"></button>
    <button type="button" pButton icon="fa-download" (click)="dt.exportCSV()" pTooltip="Export CSV" tooltipPosition="top"></button>
  </div>
</p-toolbar>
<br>
<p-dataTable #dt dataKey="id" selectionMode="multiple" [(selection)]="selectedPosts" exportFilename="Posts" [value]="blogState$ | async"
  [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
  <p-column [style]="{'width':'5%'}" selectionMode="multiple"></p-column>
  <p-column [style]="{'width':'70%'}" field="title" header="Title" [sortable]="true">
    <ng-template let-post="rowData" pTemplate="body">
      <span (mouseenter)="hideShow(post.id);"> {{post?.title}}</span>
      <div [hidden]="!hideme[post.id]">
        <button type="button" class="btn btn-link" (click)="editPost(post)">Edit</button>
         | 
        <button type="button" class="btn btn-link" (click)="previewPost(post)">Preview</button>
         | 
        <button type="button" class="btn btn-link" (click)="showDeletePost(post)">Delete</button>
      </div>
    </ng-template>
  </p-column>
  <p-column [style]="{'width':'15%'}" field="createdDated" [sortable]="true">
    <ng-template pTemplate="header">
      <i class="fa fa-calendar"></i> Created Date
    </ng-template>
  </p-column>
  <p-column [style]="{'width':'5%'}" field="year" header="Comments" [sortable]="false">
    <ng-template pTemplate="header">
      <i class="fa fa-comment-o"></i>
    </ng-template>
    <ng-template let-post="rowData" pTemplate="body">
      <i class="fa fa-comment-o"></i> {{post?.comments?.length}}
    </ng-template>
  </p-column>
</p-dataTable>

<!--confirm dialog-->
<p-dialog header="Confirmation!" [(visible)]="showConfirmDelete" modal="modal" width="300" responsive="true">
    <p> {{msgConfirmDelete}}</p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="showConfirmDelete=false" label="No"></button>
                <button type="button" pButton icon="fa-check" class="ui-button-danger" (click)="deleteSelectedPosts();showConfirmDelete=false;" label="Yes"></button>
            </div>
        </p-footer>
</p-dialog>
<!-- end confirm dialog-->

<app-preview-post *ngIf="postToPreview !=null" [post]="postToPreview" (onHide)= "postToPreview = null" [showing]="postToPreview !=null"></app-preview-post>